@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-image: url('/background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
